/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont-v%3d4.6.3.eot');
  src: url('../fonts/fontawesome-webfont-.eot#iefix&v=4.6.3') format('embedded-opentype'),
      url('../fonts/fontawesome-webfont-v%3d4.6.3.woff2') format('woff2'),
      url('../fonts/fontawesome-webfont-v%3d4.6.3.woff') format('woff'), 
      url('../fonts/fontawesome-webfont-v%3d4.6.3.ttf') format('truetype'),
      url('../fonts/fontawesome-webfont-v%3d4.6.3.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Poppins-Light;
  src: url('../fonts/poppins/Poppins-Light.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/


body, html {
	height: 100%;
  font-family: Poppins-Regular, sans-serif !important;
}

.mainbody{
  background-color: #232533;
}

.loginform{
  background-color:red;
  text-align: center;
  width: 30%;
  height:49%;
}
h4{
  padding-top: 7%;;
}

.username{
   margin-top: 17%;
    height:33px;
		width:65%;
		border-radius:4px;
		color:#fff;
		background-color: #020e18;
		font-size:13px;
		padding-left:15px;
}

.passwd{
    margin-top: 6%;
    margin-left: -1%;
    height:33px;
		width:65%;
		border-radius:4px;
		color:#fff;
		background-color: #020e18;
		font-size:13px;
		padding-left:15px;
}

.valider{
  position: absolute;
  top: 43%;
  left:12%;
}