[Desktop Entry]
Version=1.0.0-alpha
Type=Application
Name=Gestion FoyerSociety
Exec=foyerApp
Terminal=false
Icon=/opt/FoyerSociety/src/foyer.png
Categories=Utilitaire;Gestion;
Comment=Application de Gestion totale de foyer.
