[Desktop Entry]
Version=1.0.0-alpha
Type=Application
Name=FoyerSocietyApp
Exec=foyerApp %F
Terminal=false
Icon=/opt/FoyerSociety/foyer.png
Categories=Utilitaire;Gestion;
Comment=Application de Gestion totale de foyer.
