<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="FoyerSociety">
		<title>FoyerSociety</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/login.css">
		<script> window.jQuery =  window.$ = require('jquery'); </script>
		<script src="/eel.js"></script>
		<script src="assets/js/intro.js"></script>


	</head>

	<body class="bg-gradient-secondary">
		
		
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-10 col-lg-12 col-md-9">
					<p style="margin-top: 10%; margin-left:37%; font-size: 130px; font-weight: bold;">GFS</p>
					<p class="name_changed" style="position:fixed; left:65%; top:29%; font-weight: bold; font-size:19px">F-Society</p>
					<img class="iconload" src="assets/img/load3.gif" style="position:fixed;left: 16%; top: 30%;">
					<img class="iconload" src="assets/img/load2.gif" style="position:fixed;left: 43%; top: 54%;">
					<img class="iconload" src="assets/img/load1.gif" style="position:fixed;left: 56%; top: 48%;">
					<p style="margin-top: 28.3%; margin-left:80%;font-size:14px">F-Society Copyright 2019</p>
				</div>
			</div>
		</div>
		
		
		<script src ='assets/js/login.js'></script>
	</body>
</html>