<!DOCTYPE html>
<html lang="fr">
<head>
	<title>FoyerSociety</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images"/>
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="assets/css/login.css">
	<script> window.jQuery =  window.$ = require('jquery'); </script>
	<script src="/eel.js"></script>
	
</head>
	<body >
	
		<form>
			<h4> Se connecter</h4>
			<input class="username" id="username" list="dataMember">
			<span><i class="fa fa-user"></i></span>
			<datalist id="dataMember"></datalist>
			<input class="passwd" id="passwd" list="dataMember">
			<span><i class="fa fa-lock"></i></span>
			<button>Confirmer</button>

		</form>
		
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/login.js"></script>
		<script src="assets/js/all.js"></script>
		

	</body>
</html>
