<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>FoyerSociety</title>
		<link href="assets/css/insert.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/form.css">
		<script> window.jQuery =  window.$ = require('jquery'); </script>
		<script src="/eel.js"></script>
	</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
				<div class="sidebar-brand-icon rotate-n-15">
					<img class="foyer" src="assets/img/foyer.png">
				</div>
				<div class="sidebar-brand-text mx-3">GFS</div>
			</a>

			<li id="accueil_button" class="nav-item classacc lact">
				<a class="nav-link" href="#">
					<i class="fa fa-home"></i>
					<div class="picon">Accueil</div>
				</a>
			</li>

			<!-- Nav Item - Charts -->
			<li id="budget_button" class="nav-item classbud" onclick="budget_menu()" style="margin-top:-2% !important">
				<a class="nav-link" href="#">
				<i class="fa fa-usd"></i>
				<div class="picon">Budget</div></a>
			</li>

			<li id="repas_button" class="nav-item classrps" style="margin-top:-2% !important" >
				<a class="nav-link" href="#">
				<i class="fa fa-birthday-cake"></i>
				<div class="picon rps">Répas</div></a>
			</li>

			<li id="menage_button" class="nav-item classmng" style="margin-top:-2% !important">
				<a class="nav-link" href="#">
				<i class="fa fa-tint"></i>
				<div class="picon mnge">Ménage</div></a>
			</li>

			<!-- Nav Item - Charts -->
			<li id="membre_button" class="nav-item classmbr" onclick="membre_menu()" style="margin-top:-2% !important">
				<a class="nav-link" href="#">
				<i class="fa fa-users"></i>
				<div class="picon mbre">Membres</div></a>
			</li>



		</ul>
		<!-- End of Sidebar -->


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">
						<li>
							<img src="assets/img/redo.gif"  onclick="window.location.reload()" style="margin-top: 90%!important; margin-left:-1200% !important; cursor: pointer;">
						</li>

						<li>
							<form>
								<input type="text" class="isearch" placeholder="">
								<i class="fa fa-search icosearch" style="color: #fff; margin-left:-9%; cursor: pointer; "></i>
							</form>

						</li>

						<!-- Nav Item - Alerts -->
						<li class="nav-item dropdown no-arrow mx-1">
							<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bell"></i>
								<span class="badge badge-danger badge-counter">1</span>
							</a>

							<!-- Dropdown - Alerts -->
							<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
								<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
									<h6 class="dropdown-header"> Notifications </h6>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-primary">
												<i class="fas fa-file-alt text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">12 December 2019</div>
											<span class="font-weight-bold">Une nouvelle mise à jour est disponible</span>
										</div>
									</a>
									<a class="dropdown-item text-center small text-gray-500" href="#">Tout Voir</a>
								</div>
						</li>


						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="user_top d-lg-inline text-gray-600 small">chargement...</span>
							</a>

							<!-- Dropdown - User Information -->
							<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Deconnexion
								</a>
							</div>
						</li>
					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="card" style="width: 20rem;margin-left: 5% !important;margin-top: 1%; background-color: #0e1419; border: none;">
						<h5 class="card-title text-center" style="font-size: 15px; color: #fff;">Le plat du jour | Budget</h5>
						<img src="assets/img/humb.jpg" class="card-img-top" style="opacity: 1;">
						<div class="card-body">
						  	<p class="card-text text-center ordre">Soupe légumes | 2000 Ar </p>
						</div>
					</div>
					<div class="card" style="width: 20rem;margin-left: 55% !important; margin-top: -32.3%; background-color: #0e1419; border: none;"">
						<h5 class="card-title text-center" style="font-size: 15px; color: #fff;">Cuisinier</h5>
						<img src="assets/img/cuis.jpg" class="card-img-top" style="opacity: 1;">
						<div class="card-body">
						  <p class="card-text text-center ordre">Gaetan </p>
						</div>
					</div>
					<div class="card" style="width: 20rem;margin-left: 5% !important; margin-top: 0.8%; background-color: #0e1419; border: none;"">
						<h5 class="card-title text-center" style="font-size: 15px; color: #fff;">Tour de ménage | Demain</h5>
						<img src="assets/img/clean.jpg" class="card-img-top" style="opacity: 1;">
						<div class="card-body">
						  <p class="card-text text-center ordre">Dinahasina </p>
						</div>
					</div>
					<div class="card" style="width: 20rem;margin-left: 55% !important; margin-top: -32.4%; background-color: #0e1419; border: none;"">
						<h5  class="card-title text-center" style="font-size: 15px; color: #fff;">Somme à payer</h5>
						<img src="assets/img/mon.png" class="card-img-top" style="opacity: 1;">
						<div class="card-body">
						  <p id="somme_reste" class="card-text text-center ordre"><img src="assets/img/home-load.gif"></p>
						</div>
					</div>
        			</div>


      			</div>
      			<!-- End of Main Content -->
    		</div>
    		<!-- End of Content Wrapper -->

  	</div>
  	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>-->

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Terminer la Session?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
					</button>
					</div>
					<div class="modal-body">Voulez-vous vraiment fermer votre session</div>
					<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
					<a class="btn btn-primary" onclick="deconnexion()">Confirmer</a>
				</div>
			</div>
		</div>
	</div>

	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="assets/js/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="assets/js/sb-admin-2.min.js"></script>
	<script src ='assets/js/all.js'></script>
	<script src ='assets/js/budget.js'></script>
	<script src ='assets/js/membre.js'></script>
	<script src ='assets/js/main_app.js'></script>

</body>

</html>
